*{
    margin: 0;
    padding: 0;
}
ul,
ol{
    list-style: none;
}
html,
body{
    position: relative;
    width:100%;
    height: 100%;
    background-color: #ebe6e6;
}
/* 基底背景 */
#bg-base{
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    -moz-transform:skew(5deg,5deg);
    -webkit-transform:skew(5deg,5deg);
    -ms-transform:skew(5deg,5deg);
    transform:skew(5deg,5deg);
}

/* 消除带来的浮动影响 */
#bg-base::after{
    content: "";
    display: block;
    clear: both;
}

#bg-base li{
    float: left;
    width: 300px;
    height: 460px;
    background-color: #fff;
    margin: 10px;
}

#base{
    display: inline-block;
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    /* background: linear-gradient(to left bottom, #9e43ff, #fd9adb, #d9a25e); */
    background: linear-gradient(to left bottom, #0c4ab1, #6176ff,#8a99ff);
    opacity: 0.6;
}

#base .content{
    width: 1200px;
    margin: 100px auto;
    background-color: #fff;
}

#base .content::after{
    content: "";
    display: block;
    clear: both;
}