*{
    margin: 0;
    padding: 0;
}
ul,
ol{
    list-style: none;
}
html,
body{
    width:100%;
    height: 100%;
    background-color: #ebe6e6;
}
/* 基底背景 */
#bg-base{
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    -moz-transform:skew(5deg,5deg);
    -webkit-transform:skew(5deg,5deg);
    -ms-transform:skew(5deg,5deg);
    transform:skew(5deg,5deg);
}

/* 消除带来的浮动影响 */
#bg-base::after{
    content: "";
    display: block;
    clear: both;
}

#bg-base li{
    float: left;
    width: 300px;
    height: 460px;
    background-color: #fff;
    margin: 10px;
}

#base{
    position: absolute;
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    /* background: linear-gradient(to left bottom, #9e43ff, #fd9adb, #d9a25e); */
    background: linear-gradient(
        to left bottom,
        rgba(12,74,177,.6),
        rgba(97,118,255,.6),
        rgba(138,153,255,.6)
        );
}

#base .content{
    width: 1000px;
    margin: 100px auto;
    /* background-color: #ebe6e662; */
    color: #fff;
}

#base .content::after{
    content: "";
    display: block;
    clear: both;
}

#base .content p{
    width: 100px;
    height: 32px;
    background-color: #424242;
    font-size: 18px;
    color: #fff;
    line-height: 32px;
    text-align: center;
    border-radius: 10px;
}

#base .content .float{
    float: left;
}

#base .content .picture{
    margin: 40px;
}

#base .content .picture img{
    width: 215px;
    height: 300px;
    border-radius: 50%;
}

#base .content .basic-information{
    width: 660px;
    margin: 40px 20px 10px 20px;
}

.basic-information .person-info,
.basic-information .job-intention,
.basic-information .edu-experience{
    margin: 20px 20px 20px 0;
}

.basic-information .person-info::after,
.basic-information .job-intention::after,
.basic-information .edu-experience::after{
    content: "";
    display: block;
    clear: both;
}

.basic-information .person-info li,
.basic-information .job-intention li,
.basic-information .edu-experience li{
    width: 260px;
    height: 32px;
    text-align: left;
    line-height: 32px;
    padding-left:2em; 
    /* background-color: azure; */
}


#base .content .work-experience,
#base .content .independent-study,
#base .content .self-assessment,
#base .content .project{
    box-sizing: border-box;
    width: 100%;
    padding: 0 20px 40px 40px;
    line-height: 34px;
    color: #fff;
}
#base .content .work-experience ul::after{
    content: "";
    display: block;
    clear: both;
}

#base .content .work-experience ul,
#base .content .independent-study ul,
#base .content .self-assessment ul
{
    /* box-sizing: border-box; */
    margin: 20px 20px 10px;
}

.work-experience .company li{
    width: 40%;
    height: 34px;
    margin: 0 2em;
}

.work-experience .description li,
#base .content .independent-study ul li,
#base .content .self-assessment ul li{
    /* height: 34px; */
    margin: 0 2em;
    text-align: left;
}

.work-experience .description .des,
#base .content .independent-study ul li,
#base .content .self-assessment ul li{
    text-indent: 2em;
}