/* 顶部导航样式 */
.nav{
    height: 36px;
    background-color: #f5f5f5;
    line-height: 36px;
}
.nav::after{
    content: "";
    display: block;
    clear: both;
}
.nav .nav-base{
    width: 1190px;
    height: 36px;
    margin: 0 auto;
}
.nav .nav-base a{
    margin-right: 7px;
    color: #6c6c6c;
    display: inline-block;
    height: 36px;
}
.nav .nav-base .nav-left::after,
.nav .nav-base .nav-right::after{
    content: "";
    display: block;
    clear: both;
}
.nav .nav-base .nav-left{
    width: 292px;
    height: 36px;
}
.nav .nav-base .nav-left li{
    padding: 0 6px;
    line-height: 36px;
    text-align: center;
    /* margin-right: 12px; */
}
.nav .nav-base .nav-left .li-left{
    margin-right: 12px; 
}
.nav .nav-base .nav-left .li-left:hover{
    background-color: #FFF;
}
.nav .nav-base .nav-right{
    width: 681px;
    height: 36px;
}
.nav .nav-base .nav-left .li-center a.login{
    color: #f22e00;
}
.nav .nav-base .nav-left .li-center a.register:hover,
.nav .nav-base .nav-left .li-right a:hover{
    color: #f40;
}

.nav .nav-base .nav-right li a{
    text-align: center;
    line-height: 36px;
    padding: 0 20px;
}
.nav .nav-base .nav-right .changebgc:hover{
    background-color: #FFF;
}
.nav .nav-base .nav-right li a:hover{
    color: #f40;
}
.nav .nav-base .nav-right li div{
    position: relative;
    top: -1px;
    left: -1px;
    z-index: 10000;
    height: 52px;
    padding: 10px 5px;
    line-height: 28px;
    /* background-color: #f40; */
    border-left: 1px solid #f4f4f4;
    border-right: 1px solid #f4f4f4;
    border-bottom: 1px solid #f4f4f4;
    display: none;
}
.nav .nav-base .nav-right li:hover div{
    display: block;
}
.nav .nav-base .nav-right .boundary::after{
    content:"|";
    color: #cfcccc;
    /* border-right:1px solid #cfcccc;  */
}


.top{
    height: 121px;
    padding: 24px 0 0;
    background-color: #fff;
}
.top .box{
    width: 1190px;
    margin: 0 auto;
}
.top .box .log{
    width: 190px;
    /* height: 88px; */
    /* background: #cfcccc; */
}
.top .box .log a{
    display:inline-block;                 
    text-decoration:none;
    color:#424242;
    width:190px;
    height:0;/*设置容器高度为0*/
    Padding-top:90px;/*设置容器上内边距的高度为90px，展示背景图片*/
    Overflow:hidden;/*将超出容器的文本进行隐藏处理*/
    /* border:1px solid black; */
    background-image:url(http://img.alicdn.com/tfs/TB1_uT8a5ERMeJjSspiXXbZLFXa-143-59.png);
    background-size:190px 90px;
}

.top .box .seek{
    position: relative;
    width: 613px;
    height: 50px;
    margin: 0 auto;
    background: #cfcccc;
}
.top .box .seek .seek-top{
    margin-right:17px;
}
.top .box .seek .seek-top ul::after{
    content: "";
    display: block;
    clear: both;
}
.tab-nav{
    height: 30px;
    color: #FFF;
}

.center{
    width: 1190px;
    height: 632px;
    margin: 0 auto;
}

.bottom{
    width: 1190px;
    height: 668px;
    margin: 0 auto;
}